/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
/node_modules
/public/hot
/public/storage
/public/dist
/storage/*.key
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.gitattributes
.styleci.yml
phpunit.xml
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*
/tests
/bootstrap/cache/*
composer.lock
/app/Services/SmsService.php
test1.sql
posts.sql
composer_backup.json
/packages
/public/myadmin/json/local
/public/myadmin/LICENSE
/public/myadmin/README.md
/doc/*
/cert/*
.htaccess
/404.html
/index.html
public/.user.ini
/app/Services/$projectname/*
/app/Http/Controllers/admin/$projectname/*
/app/Models/$projectname/*
/public/webstatic/*
/resources/views/vendor/*
/storage/api-docs/*
/.gitignore.app
/.gitignore.echoyl